/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
.map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.pac-input {
	min-width: 50%;
	margin-top: 15px;
	padding: 15px 20px;
	border: 0;
	box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
	outline: none;
}
.add-manually-btn {
	margin: 15px;
	padding: 15px;
	background: #fff;
	border: 0;
	box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
	outline: none;
}
.recenter-btn {
	margin-right: 10px;
	background: #fff;
	width: 40px;
	height: 40px;
	box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	color: #666;
	font-weight: bold;
}
.confirm-btn {
	margin: 15px;
	background: orange;
	color: #fff;
	padding: 15px 30px;
	outline: none;
	border: 0;
	font-weight: bold;
	box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
}
.hidden {
	display: none;
}